*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
    font-family: sans-serif;
}

#contact-form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#contact-form > .heading{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#contact-form > form{
    width: 616px;
    padding: 32px 48px;
    border-radius: 8px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1),6px 16px 32px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    align-items : flex-end;
    gap: 1rem;
}

#contact-form > form > .input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-group > label{

    font-weight: bold;
}

.input-group > input,
.input-group > textarea{

    border: 1px solid blue;
    border-radius: 8px;
    padding: 0,5rem 1rem;
    outline:none;
    
}
.input-group > textarea{
    resize: none;
}
input[type="submit"]{
    width: 100px;
    border: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 12px 24px;
}